<h1>Entregas de <%= @recycler.name %></h1>

<!-- Botones de acción (ubicados arriba como en tu estructura original) -->
<div>
  <%= link_to 'Volver a los recicladores', recyclers_path, class: 'btn btn-secondary mx-2 mb-3' %>
  <%= link_to 'Nueva Entrega', new_recycler_delivery_path(@recycler), class: 'btn btn-success mb-3' %>
</div>

<!-- Formulario de búsqueda -->
<%= form_with(url: recycler_deliveries_path(@recycler), method: :get, local: true, class: "mb-4") do %>
  <div class="input-group mb-3">
    <%= text_field_tag :search, params[:search], class: "form-control", placeholder: "Buscar por material o cantidad..." %>
    <button class="btn btn-primary" type="submit">Buscar</button>
  </div>
<% end %>

<table class="table table-striped">
  <thead>
    <tr>
      <th>Material</th>
      <th>Fecha de Entrega</th>
      <th>Cantidad</th>
      <th>Acciones</th>
    </tr>
  </thead>

  <tbody>
    <% @deliveries.each do |delivery| %>
      <tr>
        <td><%= delivery.material.name %></td>
        <td><%= delivery.delivery_date %></td>
        <td><%= delivery.quantity %></td>
        <td>
          <%= link_to 'Ver Detalles', recycler_delivery_path(@recycler, delivery), class: 'btn btn-info' %>
          <%= link_to 'Editar Entrega', edit_recycler_delivery_path(@recycler, delivery), class: 'btn btn-warning btn-sm mx-2' %>
        </td>
      </tr>
    <% end %>
  </tbody>
</table>

<!-- Paginación -->
<div class="d-flex justify-content-center">
  <%= paginate @deliveries %>
</div>