<%= form_with(model: material_type) do |form| %>
  <% if material_type.errors.any? %>
    <div class="alert alert-danger">
      <h2><%= pluralize(material_type.errors.count, "error") %> prohibieron que este tipo de material se guardara:</h2>

      <ul>
        <% material_type.errors.each do |error| %>
          <li><%= error.full_message %></li>
        <% end %>
      </ul>
    </div>
  <% end %>

  <div class="mb-3">
    <%= form.label :name, class: "form-label" %>
    <%= form.text_field :name, class: "form-control" %>
  </div>

  <div class="mb-3">
    <%= form.submit "Guardar", class: "btn btn-primary" %>
  </div>
<% end %>
