<%= form_with(model: material, class: "container mt-5") do |form| %>
  <% if material.errors.any? %>
    <div class="alert alert-danger">
      <h4><%= pluralize(material.errors.count, "error") %> prohibieron guardar este material:</h4>

      <ul>
        <% material.errors.each do |error| %>
          <li><%= error.full_message %></li>
        <% end %>
      </ul>
    </div>
  <% end %>

  <!-- Campo para Nombre del material -->
  <div class="form-group mb-3">
    <%= form.label :name, "Nombre del material", class: "form-label" %>
    <%= form.text_field :name, class: "form-control" %>
  </div>

  <!-- Campo para Descripción -->
  <div class="form-group mb-3">
    <%= form.label :description, "Descripción", class: "form-label" %>
    <%= form.text_area :description, class: "form-control", rows: 3 %>
  </div>

  <!-- Campo para seleccionar el Tipo de Material -->
  <div class="form-group mb-3">
    <%= form.label :material_type_id, "Tipo de material", class: "form-label" %>
    <%= form.collection_select :material_type_id, MaterialType.all, :id, :name, { prompt: "Selecciona un tipo de material" }, { class: "form-control" } %>
  </div>

  <!-- Botón para enviar el formulario -->
  <div class="d-flex justify-content-center">
    <%= form.submit "Guardar Material", class: "btn btn-success" %>
  </div>
<% end %>
